{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5 mb-3" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ car.image.url }}" alt="Product Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>{{ car.title }}</h2>
                <p>{{ car.description }}</p>
                <p><b>Car made year :</b> {{ car.made_year }}</p>
                <p><b> Car motor size :</b> {{ car.motor }}</p>
                <p><b>Car color :</b> {{ car.color }}</p>
                <h3>Car category: {{ car.category.name }}</h3>
                <h3>Car owner : {{ car }}</h3>
                <h3>Car price : {{ car.price }} $ /per day</h3>
                <a href="{% url 'buy' car.id %}" class="btn btn-primary">Buy now </a>
            </div>
        </div>
    </div>
{% endblock %}



